html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.logo {
    width: 95px;
    height: 75px;
}

.btn-primary {
    margin: 5px;
    background: none !important;
    color: #808080 !important;
    border: 2px #808080 solid !important;
    border-radius: 4px !important;
    padding: 0.150rem 0.250rem !important;
}

    .btn-primary:hover {
        background-color: #444D51 !important;
        color: white !important;
    }

.btn-segundo {
    margin: 5px;
    background: none !important;
    color: #B70109 !important;
    border: 2px #B70109 solid !important;
    border-radius: 4px !important;
    padding: 0.150rem 0.250rem !important;
}

    .btn-segundo:hover {
        background-color: #B70109 !important;
        color: white !important;
        border: 2px #B70109 solid !important;
    }

.input-validation-error {
    border-radius: 5px !important;
    border: 1px solid #B70109;
    height: 37.5px;
}

.btn-danger {
    margin: 5px;
    background: none !important;
    color: #B70109 !important;
    border: 2px #B70109 solid !important;
    border-radius: 4px !important;
    padding: 0.150rem 0.250rem !important;
}

    .btn-danger:hover {
        background-color: #B70109 !important;
        color: white !important;
    }
